In [4]:
import pandas as pd

sc_df = pd.read_csv('./datasets/ss.csv')
sc_df

       연도  학교종류 설립구분  지역  상태           학교명
0    2020   대학교   사립  경남  기존     가야대학교(김해)
1    2020   대학교   사립  경기  기존         가천대학교
2    2020   대학교   사립  강원  기존      가톨릭관동대학교
3    2020   대학교   사립  충북  기존     가톨릭꽃동네대학교
4    2020   대학교   사립  경기  기존        가톨릭대학교
..    ...   ...  ...  ..  ..           ...
674  2022   대학교   사립  충남  기존         호서대학교
675  2022  산업대학   사립  전북  기존         호원대학교
676  2022   대학교   사립  서울  기존         홍익대학교
677  2022   대학교   사립  세종  기존  홍익대학교 _제2캠퍼스
678  2022   대학교   사립  경기  기존      화성의과학대학교

[679 rows x 6 columns]

In [12]:
sc_counts_df = sc_df['학교명'].value_counts().reset_index()
sc_counts_df

              학교명  count
0       가야대학교(김해)      3
1         제주국제대학교      3
2         영산선학대학교      3
3           예수대학교      3
4         예원예술대학교      3
..            ...    ...
224         동서대학교      3
225         한북대학교      1
226  인제대학교 _제2캠퍼스      1
227    우송대학교(산업대)      1
228  을지대학교 _제3캠퍼스      1

[229 rows x 2 columns]

In [18]:
sc_counts_df[sc_counts_df['count'] == 1]

              학교명  count
225         한북대학교      1
226  인제대학교 _제2캠퍼스      1
227    우송대학교(산업대)      1
228  을지대학교 _제3캠퍼스      1